/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --border-radius-500: 8px;
  --color-on-background: #ffffff;
  --fonts-primary: Karla, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bfe2df;
  background-image: linear-gradient(
    320deg,
    hsl(221, 42%, 90%) 0% /* down */,
    hsl(214, 26%, 84%) /* up */ 100%
  );
  font-family: var(--fonts-primary);
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
}
